In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading the percent-india csv which contains percentage of monolingual,bilingual and trilingual population of each state
df = pd.read_csv('Results/percent-india.csv')
df

                   state-code  percent-one  percent-two  percent-three
0                       INDIA    73.986251    18.910538       7.103211
1             JAMMU & KASHMIR    50.697384    32.588084      16.714533
2            HIMACHAL PRADESH    81.896911    13.044005       5.059084
3                      PUNJAB    53.014940    18.762382      28.222678
4                  CHANDIGARH    45.054716    24.438960      30.506324
5                 UTTARAKHAND    82.572823    15.565026       1.862151
6                     HARYANA    77.802617    17.580012       4.617371
7                NCT OF DELHI    59.392197    32.517275       8.090528
8                   RAJASTHAN    89.097948     9.433381       1.468671
9               UTTAR PRADESH    88.552454    10.153499       1.294046
10                      BIHAR    83.898297    14.485391       1.616312
11                     SIKKIM    36.289936    34.000134      29.709930
12          ARUNACHAL PRADESH    35.974004    33.777906      30.248091
13                   NAGALAND    37.845754    34.988188      27.166058
14                    MANIPUR    51.375344    27.025829      21.598827
15                    MIZORAM    71.773486    23.399161       4.827352
16                    TRIPURA    65.470069    29.124882       5.405049
17                  MEGHALAYA    72.283426    18.449932       9.266643
18                      ASSAM    53.660234    32.391948      13.947818
19                WEST BENGAL    83.538029    13.305609       3.156362
20                  JHARKHAND    69.683887    25.486986       4.829127
21                     ODISHA    67.063058    19.773438      13.163504
22               CHHATTISGARH    86.752019    11.593780       1.654201
23             MADHYA PRADESH    86.494406    11.773516       1.732078
24                    GUJARAT    57.160038    28.659593      14.180368
25                DAMAN & DIU    52.053263    33.721690      14.225047
26       DADRA & NAGAR HAVELI    42.107131    37.085732      20.807136
27                MAHARASHTRA    48.903046    33.544254      17.552700
28             ANDHRA PRADESH    74.481987    18.017047       7.500967
29                  KARNATAKA    60.303665    26.876807      12.819528
30                        GOA    22.789355    26.389518      50.821127
31                LAKSHADWEEP    71.223613    13.295488      15.480899
32                     KERALA    75.563156    14.891232       9.545612
33                 TAMIL NADU    71.701857    24.906232       3.391911
34                 PUDUCHERRY    68.565162    25.692234       5.742604
35  ANDAMAN & NICOBAR ISLANDS    32.359997    48.535529      19.104474

In [3]:
df['Tri_to_Bi'] = df['percent-three'] / df['percent-two']
df['Bi_to_Mono'] = df['percent-two'] / df['percent-one'] 
df

,state-code,percent-one,percent-two,percent-three,Tri_to_Bi,Bi_to_Mono
0,INDIA,73.986251,18.910538,7.103211,0.375622,0.255595
1,JAMMU & KASHMIR,50.697384,32.588084,16.714533,0.512903,0.642796
2,HIMACHAL PRADESH,81.896911,13.044005,5.059084,0.387847,0.159273
3,PUNJAB,53.014940,18.762382,28.222678,1.504216,0.353907
4,CHANDIGARH,45.054716,24.438960,30.506324,1.248266,0.542428
5,UTTARAKHAND,82.572823,15.565026,1.862151,0.119637,0.188501
6,HARYANA,77.802617,17.580012,4.617371,0.262649,0.225957
7,NCT OF DELHI,59.392197,32.517275,8.090528,0.248807,0.547501
8,RAJASTHAN,89.097948,9.433381,1.468671,0.155689,0.105877
9,UTTAR PRADESH,88.552454,10.153499,1.294046,0.127448,0.114661
10,BIHAR,83.898297,14.485391,1.616312,0.111582,0.172654
11,SIKKIM,36.289936,34.000134,29.709930,0.873818,0.936903
12,ARUNACHAL PRADESH,35.974004,33.777906,30.248091,0.895499,0.938953
13,NAGALAND,37.845754,34.988188,27.166058,0.776435,0.924494
14,MANIPUR,51.375344,27.025829,21.598827,0.799192,0.526047
15,MIZORAM,71.773486,23.399161,4.827352,0.206305,0.326014
16,TRIPURA,65.470069,29.124882,5.405049,0.185582,0.444858
17,MEGHALAYA,72.283426,18.449932,9.266643,0.502259,0.255244
18,ASSAM,53.660234,32.391948,13.947818,0.430595,0.603649
19,WEST BENGAL,83.538029,13.305609,3.156362,0.237220,0.159276
20,JHARKHAND,69.683887,25.486986,4.829127,0.189474,0.365751
21,ODISHA,67.063058,19.773438,13.163504,0.665717,0.294848
22,CHHATTISGARH,86.752019,11.593780,1.654201,0.142680,0.133643
23,MADHYA PRADESH,86.494406,11.773516,1.732078,0.147116,0.136119
24,GUJARAT,57.160038,28.659593,14.180368,0.494786,0.501392
25,DAMAN & DIU,52.053263,33.721690,14.225047,0.421837,0.647830
26,DADRA & NAGAR HAVELI,42.107131,37.085732,20.807136,0.561055,0.880747
27,MAHARASHTRA,48.903046,33.544254,17.552700,0.523270,0.685934
28,ANDHRA PRADESH,74.481987,18.017047,7.500967,0.416326,0.241898
29,KARNATAKA,60.303665,26.876807,12.819528,0.476974,0.445691
30,GOA,22.789355,26.389518,50.821127,1.925807,1.157976
31,LAKSHADWEEP,71.223613,13.295488,15.480899,1.164372,0.186672
32,KERALA,75.563156,14.891232,9.545612,0.641022,0.197070
33,TAMIL NADU,71.701857,24.906232,3.391911,0.136187,0.347358
34,PUDUCHERRY,68.565162,25.692234,5.742604,0.223515,0.374713
35,ANDAMAN & NICOBAR ISLANDS,32.359997,48.535529,19.104474,0.393618,1.499862

In [4]:
result_df = pd.DataFrame()

In [5]:
# Finding the top 3 states with highest ratio of percent trilingual and bilingual people
result_df = df.nlargest(3, ['Tri_to_Bi'])[['state-code','Tri_to_Bi']]
result_df

    state-code  Tri_to_Bi
30         GOA   1.925807
3       PUNJAB   1.504216
4   CHANDIGARH   1.248266

In [6]:
# Finding the top 3 states with lowest ratio of percent trilingual and bilingual people and concating it to previous result
result_df = pd.concat([result_df, df.nsmallest(3, ['Tri_to_Bi'])[['state-code','Tri_to_Bi']]])
result_df

       state-code  Tri_to_Bi
30            GOA   1.925807
3          PUNJAB   1.504216
4      CHANDIGARH   1.248266
10          BIHAR   0.111582
5     UTTARAKHAND   0.119637
9   UTTAR PRADESH   0.127448

In [7]:
result_df = result_df.drop(['Tri_to_Bi'],axis=1)
result_df.columns = ['state/ut']
result_df.to_csv('Results/3-to-2-ratio.csv',index=None)

In [8]:
# Finding the top 3 states with highest ratio of percent  bilingual and monolingual people
result_df = df.nlargest(3, ['Bi_to_Mono'])[['state-code','Bi_to_Mono']]
result_df

                   state-code  Bi_to_Mono
35  ANDAMAN & NICOBAR ISLANDS    1.499862
30                        GOA    1.157976
12          ARUNACHAL PRADESH    0.938953

In [9]:
# Finding the top 3 states with lowest ratio of percent bilingual and monolingual people and concating it to previous result
result_df = pd.concat([result_df, df.nsmallest(3, ['Bi_to_Mono'])[['state-code','Bi_to_Mono']]])
result_df

                   state-code  Bi_to_Mono
35  ANDAMAN & NICOBAR ISLANDS    1.499862
30                        GOA    1.157976
12          ARUNACHAL PRADESH    0.938953
8                   RAJASTHAN    0.105877
9               UTTAR PRADESH    0.114661
22               CHHATTISGARH    0.133643

In [10]:
result_df = result_df.drop(['Bi_to_Mono'],axis=1)
result_df.columns = ['state/ut']
result_df.to_csv('Results/2-to-1-ratio.csv',index=None)